header {
    background: rgb(62, 108, 207);
    position:sticky;
    top: 0;
  
    z-index: 9999;
    height: 80px;
    
    text-align: center;
    font-size: 30px;
    color:rgb(253, 252, 252);
  }
  .card {
      background :rgb(247, 247, 248);
      border-color: 5px black;
  }

  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }

  .justify-space-between {
    justify-content: space-between;
  }

  .btn {
    font-size: 1.5rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: .2rem;
    color: #e0e7e2;
    border: none;
    outline: none;
    background-color: rgb(70, 180, 231);
    box-shadow: 3px 3px #4d413e;
    transform: translate(-1px, -1px);
  }
  
   .btn:hover {
    color: #0c4a91;
    background-color: #91a1a1;
    transform: translate(0, 0);
    box-shadow: 2px 2px rgb(78, 65, 65);
  }
  
  .btn-inline {
    display: inline;
  }

  .form-input, .form-label {
  display: block;
}

.form-label {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0 5px;
  }

.form-input {
    width: 100%;
    padding: 3%;
    margin: 10px 0;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: .3rem;
  }
  .align-stretch {
    align-items: stretch;
  }
  
  .citys {
    font-size: 1.5rem;
    text-align: center;
    text-decoration:none;
    padding: 6px 50px;
    width: 100%;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: .2rem;
    color: #e0e7e2;
    border: none;
    outline: none;
    background-color: rgb(141, 149, 153);
    box-shadow: 3px 3px #4d413e;
    transform: translate(-1px, -1px);
    list-style-type: none;

  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}



  ul, li {
    list-style-type: none;
}

#day1Date, #day2Date, #day3Date, #day4Date, #day5Date {
  font-weight: bold;
  font-size: 17px;
  color: white;
}
#tempDay1, #tempDay2, #tempDay3, #tempDay4, #tempDay5  {
  color: white;
}
#windDay1, #windDay2, #windDay3, #windDay4, #windDay5 {
  color: white;
}
#humidityDay1, #humidityDay2, #humidityDay3, #humidityDay4, #humidityDay5 {
  color: white;
}


h2.card-title {
  padding-top: 40px;
}

h2.card-title, .card-title, #iconDay0, #tempNow, #windNow, #humidityNow {
  font-weight: bold;
}

.forecast-title {
  font-size: 40px;
  font-weight: bold;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
   padding-right: 0px; 
  padding-left: 0px; 
}

div.card-body-1 {
  border: 1px solid black;
  height: 300px;
  padding-left: 20px;
}
div.card-body {
  border: 1px solid black;
  height: 400px;
  background-color: rgb(159, 166, 184);
  width: 100%;
}



